.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.card__image {
  background: #888888;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 240px;
}

.card__image img {
  width: 100%;
}

.card__info {
  display: flex;
  flex-direction: column;
  background: var(--black);
  color: var(--white);
  padding: 10px;
  min-height: 150px;
}

.card__tag {
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  margin-bottom: 4px;
}

.card__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 110%;
  margin-bottom: 10px;
}

.card__author {
  font-weight: 400;
  font-size: 11px;
}

.card__footer {
  margin-top: auto;
  display: flex;
}

.button__add {
  border-radius: 6px;
  width: 36px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid var(--white);
  cursor: pointer;
}

.button_active {
  background: var(--white);
}
