.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  text-decoration: none;
}

.menu__item:visited {
  color: var(--black);
}

.menu__counter {
  line-height: 28px;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid var(--black);
  border-radius: 50%;
  padding: 0 10px;
}
